@import '../funciones/mixins';
@import '../funciones/list';

*{
    padding: 0;
    margin: 0;

    ::-webkit-scrollbar {
        width: 10px;
     }

    ::-webkit-scrollbar-thumb {
        background: nth($color, 3);
        border-radius: 8px;
    }
    
    ::-webkit-scrollbar-track {
        box-shadow: rgb(238 234 244) 0px 0px 5px inset;
        border-radius: 10px;
    }

}

body {
    line-height: 1.55;
    width: 100%;
    margin: 0px auto;
}

nav {
    text-align: center;
}
.seccion-color {
    @extend %flexbox-column;
    text-align: center;
    height: 1000px;
    padding: 200px 5%;
    background-color: nth($color, 3);
    color: white;
    overflow-x: auto;
}

.seccion-blanca {
    @extend %flexbox-row;
    text-align: center;
    height: 1000px;
    padding: 200px 5%;
    background-color: white;
    color: nth($color, 1);
}

.seccion-negra {
    @extend %flexbox-column;
    text-align: center;
    height: 1000px;
    padding: 200px 5%;
    color: nth($color, 1);
    background-color: #323232;
}

.seccion-negra-ministerio {
    @extend %flexbox-column;
    text-align: center;
    height: 600px;
    padding: 200px 5%;
    color: nth($color, 1);
    background-color: #323232;
}

.seccion-foto-1 {
    @extend %flexbox-row;
    text-align: center;
    height: 1000px;
    background-image: url('../images/raul-alfonsin.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.candidatos-container {
    @extend %flexbox-row;
    text-align: center;
}

.ucrcontainer {
    width: 13rem;
    height: 13rem;
    background-color: nth($color, 1);
    border-radius: 10px;
    margin: 2rem auto;
}

// TEXTOS

.titulo {
    font-family: 'Raleway', sans-serif;
    font-size: 6rem;
    font-weight: 800;
}

.parrafo {
    font-family: 'Roboto Slab', serif;
    font-size: 1.2rem;
    padding: 0 10%;
    color: black
}


.detalle-text {
    font-family: 'Raleway', sans-serif;
    font-size: 0.7rem;
    margin: 10px;
    color: white;
}

.recuadro {
    width: 70%;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    margin: 10px;
    padding: 5%;
    color: white;
    background-color: nth($color, 3);
    opacity: 70%;
    transition: 1s all;

    &:hover {
        opacity: 100%;
    }
}

.botones-container {
    @extend %flexbox-row;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.botonelec {
    width: 25%;
    margin: 0 0.5rem;
    background-color: nth($color, 3);
    border-radius: 10px;
}

.textelec {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.masboton {
    @extend %flexbox-row;
    text-align: center;
    color: white;
    background: none;
    border: none;
    transition: 0.5s all;
    cursor: pointer;
    align-items: center;


}
// COLORES

.blanco {
    color: white;
}

.color1 {
    color: nth($color, 1);
}

.color2 {
    color: nth($color, 2);
}

.color3 {
    color: nth($color, 3);
}


// QUIZ

.quiz {
    @extend %flexbox-column;
    text-align: center;
    background-color: black;
    height: 1000px;
    padding: 200px 5%;
}

.quiz-titulo {
    font-size: 2rem;
    font-weight: 800;
}

.quiz-respuestas-cont {
    @extend %flexbox-row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.quiz-respuestas {
    color: white;
    border: none;
    font-size: 1.6rem;
    width: 20rem;
    padding: 2rem;
    background-color: grey;
    margin: 2rem 6rem;
    transition: background-color ease 0.5s;
    border-radius: 25px;
    font-weight: 700;
}

.resp-correcta {
    background-color: chartreuse;
}

.resp-incorrecta {
    background-color: red;
}


//IMG

.calendario {
    width: 10%;
    margin-bottom: 2rem;
}

.urna {
    width: 5%;
    margin-bottom: 2rem;
}

.arrow {
    margin-top: 6rem;
    width: 4rem;
    animation: lateralizacion 5s infinite;
    animation-name: lateralizacion;

    @keyframes lateralizacion {

        0% {
            transform: translate(25px);
        }

        10% {
            transform: translate(-25px);
       }

        20% {
            transform: translate(25px);
               }

        30% {
            transform: translate(-25px);
       }

        40% {
            transform: translate(25px);
        }

        50% {
            transform: translate(-25px);
       }
        
        60% {
            transform: translate(25px);
        }

        70% {
            transform: translate(-25px);
       }

        80% {
            transform: translate(25px);
        }

        90% {
            transform: translate(-25px);
       }
        
        100% {
            transform: translate(25px);
        }
}
}

// ALINEACIÓN

.columna {
    @extend %flexbox-column;
    text-align: center;

}

.row {
    @extend %flexbox-row;
    text-align: center;

}

.hidden {
    display: none !important;
}

.show {
    display: block !important;
}

.id2 {
    font-size: 2rem;
    margin-bottom: 4rem;
}
