/* MOBILE */

@import '../funciones/extends';
@import '../funciones/list';
@import '../funciones/mixins';

/*MOBILE QUERY*/
@media only screen and (min-width: 601px) {

    .none-desktop {
        display: none !important;
    }
 }

 @media only screen and (min-width: 800px) and  (max-width: 1200px) {

    .seccion-nietos {

        height: 1200px;

    }
 }


 @media only screen and (min-width: 100px) and  (max-width: 600px) {

body {

    .none-mobile {
        display: none !important;
    }
}
    .detalle-text {
        font-family: 'Raleway', sans-serif;
        font-size: 0.7rem;
        margin: 10px;
        padding: 0rem 1rem;
    }

    .titulos {
        font-size: 2rem;
        padding: 0rem 1rem;
    }

    .parrafos {
        padding: 0 5%;
    }




}